/**********************color************************/
$color-one: #f0bd40;
$color-two: #ffffff;
$color-one: #f0bd40;
$color-two: #ffffff;
$color-three: rgba(175, 175, 175, 0.45);
$color-four: #000;
$color-five: #101010;

/**************************iconStyle*********************/
@mixin mask-image($url) {
  mask-image: url($url);
  -webkit-mask-image: url($url);
}
@media (min-width: 768px){
  .nub{
    font-size: 5px;
  }
}

.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  mask: {
    repeat: no-repeat;
    size: 100%;
    position: center;
  }
  -webkit-mask: {
    repeat: no-repeat;
    size: 100%;
    position: center;
  }

  vertical-align: sub;

  &.icon-pazza {
    @include mask-image("../images/logo1.png");

  }


  &.icon-lg {
    width: 120px;
    height: 120px;
  }

  &.icon-white {
    background-color: $color-two;
  }
}

/**********************mainStyle*******************/

body {
  header {
    padding-top: 180px;
    background-image: url("../images/pizzaback.jpg");
    height: 640px;
    background-repeat: no-repeat;
    background-size: 100%;

    nav.navbar {
      position: fixed;
      background-color: rgba(128, 128, 128, 0.27);
      z-index: 10;
      top: 0;

      h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 50px;
        cursor: unset;
      }

      .collapse {
        ul {
          margin-left: 275px;

          li {
            a {
              font-size: 25px;
              font-family: monospace;
              color: $color-two;
              font-weight: 700;


              &:hover {
                color: $color-one;
              }
            }

          }
        }
      }
    }

    h1 {
      font-family: 'Dancing Script', cursive;
      color: $color-two;
      font-size: 150px;
      text-align: center;


    }

    h6 {
      font-family: 'Amatic SC', cursive;
      font-size: 50px;
      text-align: center;
    }

    h3 {
      font-family: 'Dancing Script', cursive;
      color: $color-one;
      font-size: 100px;
      text-align: center;
      margin-top: -5px;
    }
  }

  main {
    section {
      &#section1 {
        .row {
          margin-top: 130px;

          .col-md-3 {
            position: relative;
            overflow: hidden;
            height: 500px;

            img {
              width: 383px;
              position: absolute;
              top: 0;
              left: -58px;
            }
          }

          .col-md-9 {
            margin-top: 10px;

            h2 {
              color: $color-one;
              font-family: 'Amatic SC', cursive;
              font-weight: 700;
              font-size: 50px;
            }

            h4 {
              font-size: 30px;
              font-weight: bold;
            }

            p {
              font-size: 18px;
            }

            .btn {
              width: 170px;
              height: 44px;
              border-radius: 40px;
              border: 1px solid;
              color: black;
            }

            .btn:hover {
              background-color: $color-one;
              color: white;
            }
          }
        }
      }
    }

    section {
      &#section2 {

        #demo{
          //padding: 2px;
        }
      }
    }
  }

  footer {
    &.footer1 {

      background-color: $color-four;
      height: 350px;
      border-bottom: 3px solid $color-two;

      .container {
        .row {
          .col-md-3:nth-child(1) {
            .d-flex {
              h1 {

                font-family: 'Dancing Script', cursive;
                font-size: 50px;
              }
            }

            .text-8 {
              color: $color-two;
              font-weight: lighter;
              margin-left: 10px;
            }
          }

          .col-md-3:nth-child(2) {
            .text-9 {
              color: $color-two;
            }

            .text-10 {
              color: $color-two;
              font-weight: 100;
            }

            .text-11 {
              color: $color-two;
              margin-top: 85px;

            }

            a {
              .text-12 {
                color: $color-two;
                font-size: 25px;
                margin-top: 15px;

                &:hover {
                  color: $color-one;
                }
              }
            }
          }

          .col-md-3:nth-child(3) {
            .text-9 {
              color: $color-two;
            }

            .text-10 {
              color: $color-two;
              font-weight: 100;
            }

            .text-11 {
              color: $color-two;
              margin-top: 85px;

            }

            .text-14 {
              color: $color-one;
              font-weight: lighter;
            }
          }

          .col-md-3:nth-child(4) {
            .text-9 {
              color: $color-two;
            }

            .text-10 {
              color: $color-two;
              font-weight: 100;
            }


          }
        }
      }
    }
  }

}











