/**********************color************************/
/**************************iconStyle*********************/
.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  vertical-align: sub; }
  .icon.icon-pazza {
    mask-image: url("../images/logo1.png");
    -webkit-mask-image: url("../images/logo1.png"); }
  .icon.icon-lg {
    width: 120px;
    height: 120px; }
  .icon.icon-white {
    background-color: #ffffff; }

/**********************mainStyle*******************/
body header {
  padding-top: 180px;
  background-image: url("../images/pizzaback.jpg");
  height: 640px;
  background-repeat: no-repeat;
  background-size: 100%; }
  body header nav.navbar {
    position: fixed;
    background-color: rgba(128, 128, 128, 0.27);
    z-index: 10;
    top: 0; }
    body header nav.navbar h1 {
      font-family: 'Dancing Script', cursive;
      font-size: 50px;
      cursor: unset; }
    body header nav.navbar .collapse ul {
      margin-left: 275px; }
      body header nav.navbar .collapse ul li a {
        font-size: 25px;
        font-family: monospace;
        color: #ffffff;
        font-weight: 700; }
        body header nav.navbar .collapse ul li a:hover {
          color: #f0bd40; }
  body header h1 {
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    font-size: 150px;
    text-align: center; }
  body header h6 {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    text-align: center; }
  body header h3 {
    font-family: 'Dancing Script', cursive;
    color: #f0bd40;
    font-size: 100px;
    text-align: center;
    margin-top: -5px; }
body main section#section1 .row {
  margin-top: 130px; }
  body main section#section1 .row .col-md-3 {
    position: relative;
    overflow: hidden;
    height: 500px; }
    body main section#section1 .row .col-md-3 img {
      width: 383px;
      position: absolute;
      top: 0;
      left: -58px; }
  body main section#section1 .row .col-md-9 {
    margin-top: 10px; }
    body main section#section1 .row .col-md-9 h2 {
      color: #f0bd40;
      font-family: 'Amatic SC', cursive;
      font-weight: 700;
      font-size: 50px; }
    body main section#section1 .row .col-md-9 h4 {
      font-size: 30px;
      font-weight: bold; }
    body main section#section1 .row .col-md-9 p {
      font-size: 18px; }
    body main section#section1 .row .col-md-9 .btn {
      width: 170px;
      height: 44px;
      border-radius: 40px;
      border: 1px solid;
      color: black; }
    body main section#section1 .row .col-md-9 .btn:hover {
      background-color: #f0bd40;
      color: white; }
body footer.footer1 {
  background-color: #000;
  height: 350px;
  border-bottom: 3px solid #ffffff; }
  body footer.footer1 .container .row .col-md-3:nth-child(1) .d-flex h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px; }
  body footer.footer1 .container .row .col-md-3:nth-child(1) .text-8 {
    color: #ffffff;
    font-weight: lighter;
    margin-left: 10px; }
  body footer.footer1 .container .row .col-md-3:nth-child(2) .text-9 {
    color: #ffffff; }
  body footer.footer1 .container .row .col-md-3:nth-child(2) .text-10 {
    color: #ffffff;
    font-weight: 100; }
  body footer.footer1 .container .row .col-md-3:nth-child(2) .text-11 {
    color: #ffffff;
    margin-top: 85px; }
  body footer.footer1 .container .row .col-md-3:nth-child(2) a .text-12 {
    color: #ffffff;
    font-size: 25px;
    margin-top: 15px; }
    body footer.footer1 .container .row .col-md-3:nth-child(2) a .text-12:hover {
      color: #f0bd40; }
  body footer.footer1 .container .row .col-md-3:nth-child(3) .text-9 {
    color: #ffffff; }
  body footer.footer1 .container .row .col-md-3:nth-child(3) .text-10 {
    color: #ffffff;
    font-weight: 100; }
  body footer.footer1 .container .row .col-md-3:nth-child(3) .text-11 {
    color: #ffffff;
    margin-top: 85px; }
  body footer.footer1 .container .row .col-md-3:nth-child(3) .text-14 {
    color: #f0bd40;
    font-weight: lighter; }
  body footer.footer1 .container .row .col-md-3:nth-child(4) .text-9 {
    color: #ffffff; }
  body footer.footer1 .container .row .col-md-3:nth-child(4) .text-10 {
    color: #ffffff;
    font-weight: 100; }
body footer.footer2 {
  height: 70px;
  background-color: #101010; }
  body footer.footer2 .container {
    height: 60px;
    border-top: 1px solid #ffffff; }
    body footer.footer2 .container a {
      text-decoration: none; }

/*# sourceMappingURL=main.css.map */
